@page
@model Aula_31_RazorPages_Filmes_8.Pages.Filmes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form method="get">
    <p>
        <select asp-for="FilmeGenero" asp-items="@Model.Generos"> 
            <option value="">Todos</option>            
        </select>

        Buscar Filme: <input type="text" asp-for="TermoBusca"/>
        <input type="submit" value="Buscar" class="btn btn-primary"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].DatLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmes[0].Pontos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Filmes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontos)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
